# Configuración de MySQL
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=dbcrud
MYSQL_USER=user
MYSQL_PASSWORD=userpassword
MYSQL_PORT=3307
MYSQL_HOST=db

# Configuración de Backend
BACKEND_PORT=8000

# Configuración de Frontend
FRONTEND_PORT=4200
ANGULAR_CLI_VERSION=16.2.10

# URL del API (para Angular)
API_URL=http://localhost:8000